{
    "DefaultUsers":[
        {
            "username": "ExampleUser",
            "role": "User",
            "email": "FakeEmail@Gmail.com",
            "firstname": "Fake",
            "lastname": "Name",
            "password": "TestPassword"
        },
        {
            "username": "Voldemort",
            "role": "Admin",
            "email": "D34thEatersRule@Gmail.com",
            "firstname": "Tom",
            "lastname": "Riddle",
            "password": "AvadaKadavera"
        },
        {
            "username": "TheBoyWhoLived",
            "role": "Viewer",
            "email": "AngstyOrphan@Hotmail.com",
            "firstname": "Harry",
            "lastname": "Potter",
            "password": "ExpectoPatronum"
        }
    ]
}
